@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF9F9;
    /* background-color: #EBE3D5; */
    color: black;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.header div, img {
    display: inline-block;
    position: relative;
}

.title h2, h3 {
    display: inline-block;
    padding-top: 0%;
    margin: 0;
} 

.title {
    margin-top: 0.25rem;
}

#forPronote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left: 5px;
}

.header {
    /* background-color: #FAF9F9; */
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, lightgray, #FAF9F9) 0 2% 100% 2%;
    padding: 0.5rem;
    pointer-events: none;
}

.header-items {
    align-items: center;
}

#logo {
    width: 10%;
    margin-right: 10%;
    margin-top: -5%;
}

.login-box {
    background-color: #ef6b6b;
    width: 30%;
    border-radius: 10px;
    padding: 1.5%;
    margin: 0 auto;
}

#enter-ENT {
    text-align: center;
    color: #e05c5c;
    pointer-events: none;
}

#login-logo {
    width: 5%;
    display: block;
    margin: 1% auto;
}

.outside-login {
    margin: 2% auto;
}

.login-box h2 {
    font-size: 150%;
    color: white;
    pointer-events: none;
}

.login-inputs input {
    width: 100%;
    padding: -5%;
    margin-bottom: 6%;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

#submit-button {
    margin-bottom: 0;
    margin-top: 1%;
    background-color: #FAF9F9;
}

#submit-button:hover {
    background-color: rgb(226, 226, 226);
}

#submit-button:active {
    border: #e05c5c solid 1px;
}

#fail-message {
    font-size: 100%;
}

.error-container {
    width: auto;
    background-color: red;
    padding: 1% 2%;
    border-radius: 6px;
}

.subject-container {
    margin: 3% 1.5% 0.5% 1.5%;
    padding: 2%;
    border-radius: 15px;
    background-color: e05c5c;
    display: flex;
    justify-content: space-between;
    border: lightgray solid 2px;
}

.subject-icons img {
    max-width: 100%;
    max-height: 100%;
}

.subject-icons {
    width: 8%;
}

.subject-average {
    text-align: right;
}

.subject-description {
    text-align: center;
}

.sidebar {
    height: 100%; 
    width: 35%;
    position: absolute; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    border-right: lightgray solid 1px;
    /* border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, lightgray, #FAF9F9) 2% 100% 2% 0; */
}

.grade-box {
    margin: 1.5% 2% 0 36.5%;
}

.grade-header div {
    display: inline-block;
    position: relative;
}

.grade-header {
    padding: 4% 2%;
    border-radius: 15px 15px 0 0;
    background-color: #ef6b6b;
}

.scrollable-menu {
    overflow-y: scroll;
    position: absolute;
    height: 80%;
    border: lightgray solid 1px;
    height: 80%;
    border-right: none;
}

.scroll-footer {
    position: relative;
    height: 8%;
}

.grade-container div,  .grade-container div div {
    display: inline-block; 
    position: relative;
}

.grade-content {
    margin: 0.5% 5% 0.5% 5%;
    border-radius: 10px;
    padding: 0.5% 1%;
    width: 70%;
    background-image: linear-gradient(to left, rgb(249, 196, 198), rgb(255, 233, 234));
}

.grade-coef {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #ff5b5b;
    text-align: center;
    margin-top: -8%;
    color: white;
}

.grade-coef h2 {    
    margin: 5px;
    font-size: 90%;
}

.grade-value {
    margin-right: 5%;
}

.suggestive-grade-content {
    margin: 0.5% 5% 0.5% 5%;
    border-radius: 10px;
    padding: 0.5% 1%;
    width: 70%;
    background-color: lightskyblue;
}

/* .suggestive {
    display: none;
} */

.sgrade > * {
    display: inline-block;
    position: relative;
}

.suggestive-grade-content input {
    pointer-events: all !important;
}

.overall-avg-container {
    padding: 2%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ff5b5b;
    width: fit-content;
    color: white; 
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overall-avg-title {
    margin: 8% auto 0 auto;
    width: fit-content;
}