{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block body %}
<div class="sidebar">

</div>

<div class="grade-box">
    <div class="grade-header"></div>
    <div class="scrollable-menu">
        {% for subject in input.subjects %}
        <div class="subject-container">
            <div class="subject-icons">
                <!--drop down icon-->
                <img src="logo.png" alt="fill-in">
            </div>
            <div class="subject-description">
                <h2>{{ subject }}</h2>
                <!-- progress bar -->
                <h2>coef</h2>
            </div>
            <div class="subject-average"><h2>82%</h2></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}