{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <h2 class="settings-title">Settings</h2>
    <div class="settings-box">
        <div class="settings-inputs">
            <form action="/content" method="POST">
                <h2>Select theme</h2>
                <select name="theme" id="theme-input">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>

                <h2>Change grade unit</h2>
                <select name="unit" id="unit-input">
                    <option value="points20">Points /20 (Default)</option>
                    <option value="points10">Points /10</option>
                    <option value="percentage">Percentage</option>
                </select>

                <h2 id="feedback-text">Include grade feedback</h2>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" name="feedback" id="feedback-input" {% if settings.feedback %}checked{% endif %}>
                        <span class="slider"></span>
                    </label>
                </div>

                <input type="submit" value="Save" id="submit-button">
            </form>
        </div>
    </div>
{% endblock %}